<div class="container text-center">
  <p class="mark" id="notice"><strong><%= notice %></p></strong>
</div>

<div class="container display-4 text-center">
  <p>
    <strong>Rating:</strong>
    <%= @review.rating %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @review.author %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @review.content %>
  </p>
</div>
<br>

<div class="container text-center">
  <button type="button" class="btn btn-light btn-lg"><%= link_to 'Edit', edit_review_path(@review) %></button>
  <button type="button" class="btn btn-light btn-lg"><%= link_to 'Back', reviews_path %></button>
</div>